{{! client.hbs }}
<p>{{input type='text' value=query}}</p>

<table>
  {{#each client in filteredModel}}
  <tr>
    <td>Name: {{link-to client.name 'client' client}}</td>
    <td>Email: {{client.email}}</td>
    <td>{{time-tracker}}</td>
  </tr>
  {{/each}}
</table>
<p><small>{{clientsCount}}</small></p>
